.DS_Store
.idea
*.tar
logs/*
internal/repo/a_repo-packr.go
bin
build
cover.out
coverage.out
coverage.txt
cover.html
config/*
imports/imports.go
goent.mod
goent.sum

testdata/
!internal/checker/testdata